
mark {
    background-color: #fff3cd;
}

li span {
    font-weight: normal;
}

.navbar{
    padding-bottom: 0px;    
}

.navbar-text{    
    padding-bottom: 0px;    
}

.text-nivel2{
    margin-left:20px;
}

.text-nivel3{
    margin-left:48px;
}

.underline{
    text-decoration: underline;
}

.bg-button-cancel {
    background-color: #163758;
}

.bg-button-acept {
    background-color: #163758;
}

.vcenter {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

input.error-label {
    color: #FF0000;
}

input.error {
    border: 1px solid red;    
}

.error {
    color: red;
}

.help-block {
    color: red;    
}

.tabla-tarifa {
    border: 1px solid #C5C5C5 !important;
}

.tabla-tarifa-cabecera {
    border: 1px solid #C5C5C5 !important;
    background: #DBE5F1 !important;
}

.tabla-tarifa-fila {
    border: 1px solid #DBDBDB !important;
}



