<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="icon" href="~/dist/img/zipago/logo_favicon-142x150.png" sizes="32x32">
    <link rel="icon" href="~/dist/img/zipago/logo_favicon.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="~/dist/img/zipago/logo_favicon.png">

    <link rel="stylesheet" href="~/dist/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/dist/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/dist/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/dist/css/Site.css">
    <link rel="stylesheet" href="~/plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">

    @RenderBody()
        
    <script src="~/dist/bower_components/jquery/dist/jquery-3.3.1.min.js"></script>    
    <script src="~/dist/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>    
    @*<script src="~/plugins/iCheck/icheck.min.js"></script>*@
    <script>
        $(function () {
            //$('input').iCheck({
            //    checkboxClass: 'icheckbox_square-blue',
            //    radioClass: 'iradio_square-blue',
            //    increaseArea: '20%' /* optional */
            //});
        });
    </script>
</body>
</html>
