@model ZREL.ZiPago.Aplicacion.Web.Models.Seguridad.UsuarioViewModel
@{
    ViewData["Title"] = "ZiPago | Inicio de Sesion";
    ViewData["TitleNav"] = "Afiliacion - Inicio de Sesion";
    Layout = "_LayoutSeguridad";
}


        
    <form id="frmLogin" asp-controller="Seguridad" asp-action="UsuarioAutenticar" method="post">

            <div id="loginBox" class="card w-25">
                
                <div class="card-header bg-white border-bottom-0">
                    <strong>Ingresa a Zipago</strong>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <label for="clave1">@Html.DisplayNameFor(m => m.Clave1):</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <input type="email" id="clave1" name="clave1" class="form-control" placeholder="Correo Electr&oacute;nico" asp-for="Clave1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="clave2">@Html.DisplayNameFor(m => m.Clave2):</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </div>
                            <input type="password" id="clave2" name="clave2" class="form-control" placeholder="Contrase&ntilde;a" asp-for="Clave2">
                        </div>
                    </div>
                    <div id="divBtnLogin" class="form-group">
                        <div class="col-sm-8 control">
                        </div>
                        <div class="col-sm-4 control">
                            <button type="submit" id="btnLogin" class="btn btn-success">Ingresar</button>
                        </div>
                    </div>
                    <div id="divSpace" class="form-group control">
                        <br />
                        <br />
                    </div>
                    <div>
                        <div class="g-recaptcha" data-sitekey="@ViewData["ReCaptchaKey"]"></div>
                    </div>
                    <div id="errorCaptcha" style="display:none;" class="form-group control text-danger">
                        Debe marcar la casilla No soy un robot.
                    </div>
                    <div class="form-group control">
                        @Html.ValidationMessage("ErrorLogin", "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div style="border-top: 1px solid#888; padding-top:10px; font-size:85%">
                            <div class="col-sm-6" style="text-align:left; padding-left:0;">
                                <a href="#" id="btnOlvidoClave">¿Olvidaste tu clave?</a>
                            </div>
                            <div class="col-sm-6 control" style="text-align:right; padding-right:0;">
                                <a asp-controller="Seguridad" asp-action="UsuarioRegistrar">¿Eres nuevo en ZiPago?</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        

    </form>




<script src="~/js/jquery-2.2.4.min.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/Seguridad/login.js"></script>
<script src='https://www.google.com/recaptcha/api.js' defer async></script>