@model ZREL.ZiPago.Aplicacion.Web.Models.Seguridad.UsuarioViewModel
@{
    ViewData["Title"] = "ZiPago | Inicio de Sesion";    
    Layout = "_LayoutSeguridad";
}

<div class="login-box">

    <div class="login-logo">
        <a href="#">Portal <b>ZiPago</b></a>
    </div>
    
    <div id="loginBox" class="login-box-body">
        <p class="login-box-msg">Ingrese a ZiPago</p>

        <form id="frmLogin" asp-controller="Seguridad" asp-action="UsuarioAutenticar" method="post">
            <div class="form-group has-feedback">
                <input type="email" id="clave1" name="clave1" class="form-control" placeholder="Correo Electr&oacute;nico">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" id="clave2" name="clave2" class="form-control" placeholder="Contrase&ntilde;a">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <div class="g-recaptcha" data-sitekey="@ViewData["ReCaptchaKey"]"></div>
                <div id="errorCaptcha" style="display:none;" class="form-group control text-danger">
                    Debe marcar la casilla No soy un robot.
                </div>
            </div>

            <div class="form-group has-feedback">
                @Html.ValidationMessage("ErrorLogin", "", new { @class = "text-danger" })
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Recordarme
                        </label>
                    </div>
                </div>

                <div class="col-xs-6">
                    <button type="submit" id="btnLogin" class="btn btn-primary btn-block btn-flat">Ingresar</button>
                </div>

            </div>
        </form>

        <a href="#" id="btnOlvidoClave">¿Olvidaste tu clave?</a>

    </div>
        
    <div id="olvidoClaveBox" style="display:none;" class="login-box-body">
        <p class="login-box-msg">
            <strong>Recuperacion de Clave</strong>
        </p>
        <p class="login-box-msg">
            Ingrese su Id ZiPago (dirección de correo electrónico).
            Se enviará a su correo el procedimiento a traves del cual podrá recuperar su contraseña.
        </p>
        <div class="form-group has-feedback">
            <input type="email" id="txtorreo" name="txtorreo" class="form-control" placeholder="Correo Electr&oacute;nico">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <a id="btnRegresaLogin" href="#">Ingrese a ZiPago</a>
            </div>

            <div class="col-xs-6">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Recuperar clave</button>
            </div>

        </div>
    </div>


</div>

<script src="~/dist/bower_components/jquery/dist/jquery-3.3.1.min.js"></script>
<script src="~/dist/js/jquery.validate.min.js"></script>
<script src="~/dist/js/Seguridad/login.js"></script>
<script src='https://www.google.com/recaptcha/api.js' defer async></script>