@model ZREL.ZiPago.Aplicacion.Web.Models.Seguridad.UsuarioViewModel
@{
    ViewData["Title"] = "ZiPago | Olvido Contrasena";
    Layout = "_LayoutSeguridad";
}

<div class="login-box">

    <div class="login-logo" style="border-radius: 12px 12px 0px 0px">
        <img src="~/dist/img/zipago/Imagotipo_ZiPago-300x200.png" />
    </div>

    <div id="olvidoClaveBox" style="border-radius: 0px 0px 12px 12px" class="login-box-body">
        <p class="login-box-msg">
            <strong>Recuperar Clave</strong>
        </p>
        <p>
            Ingrese su Id ZiPago (dirección de correo electrónico).<br />
            Se enviará a su correo el procedimiento a traves del cual podrá restablecer su contraseña.
        </p>

        <form id="frmRecuperar" asp-controller="Seguridad" asp-action="Recuperar" method="post">

            <input id="jsparam1" name="jsparam1" type="hidden" value="@ViewData["Post"]" />
            <input id="jsparam2" name="jsparam2" type="hidden" value="@ViewData["HizoError"]" />
            <input id="jsparam3" name="jsparam3" type="hidden" value="@ViewData["Mensaje"]" />

            <div class="form-group has-feedback">
                <input type="text" id="clave1" name="clave1" class="form-control" placeholder="Correo Electr&oacute;nico">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" style="text-align: center;">
                <div class="g-recaptcha" data-sitekey="@ViewData["ReCaptchaKey"]" style="display: inline-block;"></div>
                <div id="errorCaptcha" style="display:none;" class="text-red">
                    Debe marcar la casilla No soy un robot.
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <a asp-controller="Seguridad" asp-action="UsuarioAutenticar">Login ZiPago</a>
                </div>
                <div class="col-xs-6">
                    <button id="btnRecuperar" type="submit" class="btn text-gray bg-blue btn-block btn-flat">Recuperar clave</button>
                </div>
            </div>

        </form>
    </div>


</div>

<script src="~/bower_components/jquery/dist/jquery-3.3.1.min.js"></script>
<script src="~/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/bower_components/sweetalert/sweetalert.min.js"></script>
<script src="~/dist/js/Seguridad/recuperar.js"></script>
<script src="~/dist/js/comun.js"></script>
<script src='https://www.google.com/recaptcha/api.js' defer async></script>
