@model ZREL.ZiPago.Aplicacion.Web.Models.Afiliacion.ComercioViewModel
@{
    Layout = "_Layout";
}

<section class="content-header">
    <h1>
        Comercios
        <small>Registro</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Afiliacion</a></li>
        <li class="active">Comercios</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Registro de Comercios</h3>
                    <div class="box-tools">
                        <a asp-controller="Comercio" asp-action="Index" id="btnCancelar" class="btn btn-default">
                            <i class="fa fa-undo"></i>&nbsp;Cancelar
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">                            
                            <div class="box box-widget">

                                <div class="box-header">
                                    <h3 class="box-title">Selecciona e ingresa los siguientes datos, luego haz clic en el boton <strong>Registrar:</strong></h3><br /><br />
                                    <small class="text-red">(*) Datos obligatorios.</small>                                    
                                </div>
                                <div class="box-body">

                                    <div class="row">
                                        <div class="col-md-12">

                                            <form class="form-horizontal" id="frmRegistro" method="post">

                                                <input id="idusuariozipago" name="idusuariozipago" type="hidden" asp-for="IdUsuarioZiPago" />

                                                <div class="form-group">
                                                    <label class="col-sm-2">Del Comercio:</label>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        <label for="codigocomercio">ID Comercio:</label><label class="text-red">&nbsp;*</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input id="codigocomercio" name="codigocomercio" type="text" class="form-control" placeholder="Codigo del Comercio" maxlength="14">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label for="correonotificacion">Correo de Notificacion:</label><label class="text-red">&nbsp;*</label>
                                                    </div>                                                    
                                                    <div class="col-sm-3">
                                                        <input id="correonotificacion" name="correonotificacion" type="text" class="form-control" asp-for="Clave1" placeholder="Correo electronico">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div id="comercioexiste" style="display:none;" class="col-sm-offset-2 has-error">
                                                        El Codigo del Comercio ya se encuentra registrado, por favor ingrese otro.
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        <label for="descripcioncomercio">Descripcion:</label><label class="text-red">&nbsp;*</label>
                                                    </div>                                                    
                                                    <div class="col-sm-8">
                                                        <input id="descripcioncomercio" name="descripcioncomercio" type="text" class="form-control" placeholder="Descripcion del Comercio" maxlength="30">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2">De la Cuenta Bancaria:</label>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        <label for="idbancozipago">Banco:</label><label class="text-red">&nbsp;*</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <select id="idbancozipago" name="idbancozipago" asp-items="@(new SelectList(Model.Bancos,"IdBancoZiPago", "NombreLargo"))" class="form-control"></select>
                                                    </div>

                                                    <div class="col-sm-1">
                                                        <label for="cuentasxbanco">Cta. Bancaria:</label><label class="text-red">&nbsp;*</label>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <select id="cuentasxbanco" name="cuentasxbanco" class="form-control">
                                                            <option value="0">Seleccione</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-sm-1" style="text-align:right">
                                                        <button type="button" id="btnLimpiar" class="btn btn-default">
                                                            <i class="fa fa-eraser"></i>&nbsp;Limpiar
                                                        </button>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <button type="button" id="btnRegistrar" class="btn btn-primary">
                                                            <i class="fa fa-save"></i>&nbsp;Registrar
                                                        </button>
                                                    </div>

                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script src="~/bower_components/jquery/dist/jquery-3.3.1.min.js"></script>
<script src="~/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/bower_components/jquery-validation/dist/additional-methods.min.js"></script>
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/bower_components/sweetalert/sweetalert.min.js"></script>
<script src="~/dist/js/adminlte.min.js"></script>
<script src="~/dist/js/Afiliacion/comercioregistro.js"></script>
<script src="~/dist/js/comun.js"></script>