@model ZREL.ZiPago.Aplicacion.Web.Models.Afiliacion.ComercioViewModel
@{
    Layout = "_Layout";
    var bancos = ViewBag.Bancos as List<SelectListItem>;
    var cuentas = ViewBag.Cuentas as List<SelectListItem>;
    ViewData["Inicio"] = "";
    ViewData["Afiliacion"] = " active";
    ViewData["DatosPersonales"] = "";
    ViewData["CuentaBancaria"] = "";
    ViewData["Comercio"] = " class=\"active\" ";
}

<section class="content-header">
    <h1>
        Comercios
        <small>Registro</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li><a href="#">Afiliacion</a></li>
        <li class="active">Comercios</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Registro de Comercios</h3>                    
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">                            
                            <div class="box box-widget">
                                <div class="box-header">
                                    <h3 class="box-title">Selecciona e ingresa los siguientes datos, luego haz clic en el boton <strong>Registrar:</strong></h3><br /><br />
                                    <small class="text-red">(*) Datos obligatorios.</small>
                                </div>
                                <div class="box-body">

                                    <div class="row">
                                        <div class="col-md-12">

                                            <form class="form-horizontal" id="frmRegistro" method="post">

                                                <input id="idusuariozipago" name="idusuariozipago" type="hidden" asp-for="IdUsuarioZiPago" />
                                                <input id="idcomerciozipago" name="idcomerciozipago" type="hidden" asp-for="IdComercioZiPagoReg" />

                                                <div class="form-group">
                                                    <label class="col-sm-2">Del Comercio:</label>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        <label for="codigocomercio">ID Comercio:</label><label class="text-red">&nbsp;*</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input id="codigocomercio" name="codigocomercio" type="text" class="form-control text-uppercase" asp-for="CodigoComercio" placeholder="Codigo del Comercio" maxlength="14">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label for="correonotificacion">Correo de Notificacion:</label><label class="text-red">&nbsp;*</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input id="correonotificacion" name="correonotificacion" type="text" class="form-control" asp-for="CorreoNotificacion" placeholder="Correo electronico">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div id="comercioexiste" style="display:none;" class="col-sm-offset-2 text-red">
                                                        El Codigo del Comercio ya se encuentra registrado, por favor ingrese otro.
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        <label for="descripcioncomercio">Descripcion:</label><label class="text-red">&nbsp;*</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <input id="descripcioncomercio" name="descripcioncomercio" type="text" class="form-control" asp-for="Descripcion" placeholder="Descripcion del Comercio" maxlength="30">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2">De la Cuenta Bancaria:</label>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        <label for="idbancozipago">Banco:</label><label class="text-red">&nbsp;*</label>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        @Html.DropDownListFor(x => x.IdBancoZiPago, bancos, new
                                                        {
                                                            @class = "form-control",
                                                            style = "width: 100%;",
                                                            id = "IdBancoZiPago",
                                                            name = "IdBancoZiPago",
                                                            data_cascade_combo = "#CodigoCuenta",
                                                            data_cascade_combo_source = Url.Action("ListarCuentasBancarias", "Comercio"),
                                                            data_cascade_combo_param_name = "idBancoZiPago"
                                                        })
                                                    </div>

                                                    <div class="col-sm-1">
                                                        <label for="CodigoCuenta">Cta. Bancaria:</label><label class="text-red">&nbsp;*</label>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        @Html.DropDownListFor(x => x.CodigoCuenta, cuentas, new
                                                        {
                                                            @class = "form-control",
                                                            style = "width: 100%;",
                                                            id = "CodigoCuenta",
                                                            name = "CodigoCuenta",
                                                        })
                                                    </div>
                                                    <div class="col-sm-1" style="text-align:right">
                                                        <button type="button" id="btnLimpiar" class="btn btn-default">
                                                            <i class="fa fa-eraser"></i>&nbsp;Limpiar
                                                        </button>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <button type="button" id="btnRegistrar" class="btn btn-primary">
                                                            <i class="fa fa-save"></i>&nbsp;Registrar
                                                        </button>
                                                    </div>

                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script src="~/bower_components/jquery/dist/jquery-3.3.1.min.js"></script>
<script src="~/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/bower_components/jquery-validation/dist/additional-methods.min.js"></script>
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/bower_components/sweetalert/sweetalert.min.js"></script>
<script src="~/dist/js/adminlte.min.js"></script>
<script src="~/dist/js/Afiliacion/comercioregistro.js"></script>
<script src="~/dist/js/comun.js"></script>